<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100%">
        <mat-card>
            <mat-card-content>
                <mat-card-title>
                    Contratos activos
                </mat-card-title>
                <br>
                <div *ngIf="relations.length === 0 && isLoaded == true" class="alert alert-empty" role="alert">
                    No existen comercios que quieran hacer contrato con tu radiodifusora!
                </div>
                <table *ngIf="relations.length > 0" mat-table [dataSource]="relations" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="shop">
                        <th mat-header-cell *matHeaderCellDef> Comercio </th>
                        <td mat-cell *matCellDef="let element"> {{element.shopName}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef> Contrato </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox id="{{element.idRelation}}" [checked]="element.active" (change)="openDialogContratarRelation(element, contratar, $event)"></mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="contact">
                        <th mat-header-cell *matHeaderCellDef> Contactar </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" matTooltip="Ver datos generales del comercio" (click)="openDialogContactar(element, datos)">
                                <mat-icon class="mat-18 material-icons color_blue">description</mat-icon>
                            </button>
                        </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex.gt-sm="100%">
        <mat-card>
            <mat-card-content>
                <mat-card-title>
                    Comercios por establecer contrato
                </mat-card-title>
                <br>
                <div *ngIf="relationsNot.length === 0 && isLoaded == true" class="alert alert-empty" role="alert">
                    No existen nuevos comercios que quieran establecer contrato!
                </div>
                <table *ngIf="relationsNot.length > 0" mat-table [dataSource]="relationsNot" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="shop">
                        <th mat-header-cell *matHeaderCellDef> Comercio </th>
                        <td mat-cell *matCellDef="let element"> {{element.shopName}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef> Contrato </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox id="{{element.idRelation}}" [checked]="element.active" (change)="openDialogContratarRelation(element, contratar, $event)"></mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="contact">
                        <th mat-header-cell *matHeaderCellDef> Contactar </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" matTooltip="Ver datos generales del comercio" (click)="openDialogContactar(element, datos)">
                                <mat-icon class="mat-18 material-icons color_blue">description</mat-icon>
                            </button>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" matTooltip="Eliminar comercio, que quiere hacer contratro" (click)="openDialogDelete(element, delete)">
                                <mat-icon class="mat-18 material-icons color_red">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumnsNoContrato"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsNoContrato;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #spinner>
    <div class="loading-indicator">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
</ng-template>

<ng-template #contratar>
    <h1 mat-dialog-title>¿Deseas {{establecer}} contrato con el comercio: <span style="color: #ff8a00;">{{nameShop}}</span> ? </h1>
    <div mat-dialog-content>

        <div class="container-modal">
            <div class="row">
            </div>
            <br>
        </div>


    </div>

    <mat-dialog-actions align="end">
        <button type="button" style="margin-right: 5px;" (click)="ngOnInit()" mat-dialog-close class="btn btn-danger">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="changeStatusActive()">Aceptar</button>
    </mat-dialog-actions>


</ng-template>


<ng-template #delete>
    <h1 mat-dialog-title>¿Deseas eliminar el comercio: <span style="color: #ff8a00;">{{nameShop}}</span>, que quiere hacer contrato con tu radio ? </h1>
    <div mat-dialog-content>

        <div class="container-modal">
            <div class="row">
            </div>
            <br>
        </div>


    </div>

    <mat-dialog-actions align="end">
        <button type="button" style="margin-right: 5px;" mat-dialog-close class="btn btn-danger">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="deleteRelationRadio()">Aceptar</button>
    </mat-dialog-actions>


</ng-template>

<ng-template #datos>
    <h1 mat-dialog-title>Datos de contacto del comercio: <span style="color: #ff8a00;">{{nameShop}}</span></h1>
    <div mat-dialog-content>

        <div class="container-modal">
            <div class="row">
                <div class="col-12">
                    <h2>Contactos</h2>
                    <mat-list>
                        <mat-list-item *ngFor="let admin of admins">
                            <h3 matLine><b>Nombre: </b> {{admin.name}} {{admin.lastName}} </h3>
                            <h3 matLine><b>Email: </b> {{admin.email}} </h3>
                            <h3 matLine><b>Teléfono: </b> {{admin.phoneNumber}} </h3>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
                    <h2>Sucursales</h2>
                    <mat-list>
                        <mat-list-item *ngFor="let sucu of sucursales">
                            <h3 matLine><b>Tipo: </b> {{sucu.branches.type}} </h3>
                            <h3 matLine><b>Dirección: </b> {{sucu.branches.address}} </h3>
                            <h3 matLine><b>Teléfono: </b> {{sucu.branches.phoneNumber}} </h3>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </div>

            </div>
            <br>
        </div>


    </div>

    <mat-dialog-actions align="end">
        <button type="button" style="margin-right: 5px;" mat-dialog-close class="btn btn-danger">Cerrar</button>
    </mat-dialog-actions>


</ng-template>