p{
    font-size: medium;
    text-align: justify
  }
  
  .mat-icon-button:hover {
    background-color: #2c2317 !important;
  }
  .mat-button:hover {
    background-color: #f7f7f3 !important;
  }



.tabs-actives{
  padding-top: 25px; padding-bottom: 25px;
}
agm-map {
  height: 350px;
}

