<span *ngIf="decriptValue() === 'Comercio'" class="badge badge-pill badge-warning m-r-5" style="background: #ffffff !important;">
    
</span>
<button matTooltip="Perfil y cerrar Sesión" *ngIf="cookieService.check('isLogin')" [matMenuTriggerFor]="profile"
    mat-icon-button class="m-r-5"> <img src="assets/images/users/usuario.png" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu" id="megamenu">
    <button mat-menu-item (click)="goToProfile()">
        <mat-icon>account_box</mat-icon> Perfil
    </button>
    <!--<button mat-menu-item> <mat-icon>notifications_off</mat-icon> Disable notifications </button>-->
    <button mat-menu-item (click)="cerrarSesion()">
        <mat-icon>exit_to_app</mat-icon> Cerrar Sesión
    </button>
</mat-menu>