<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100%">
        <mat-card>
            <mat-card-content>
                <mat-card-title>
                    Radiodifusoras
                    <button matTooltip="Agregar una Radiodifusora" class="button-add" (click)="openDialogAddRadiodifusora(radio)" mat-raised-button color="accent">
                        <mat-icon class="color_amar">add_box</mat-icon> Agregar
                    </button>

                </mat-card-title>
                <mat-form-field *ngIf="filterData.length > 0">
                    <input matInput id="search" (keyup)="searchBroadcaster($event.target.value)" placeholder="Buscar...">
                </mat-form-field>
                <table *ngIf="broadcaster.length > 0" mat-table [dataSource]="broadcaster">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Radiodifusora </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef> Activo </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox id="{{element.idBroadcaster}}" [checked]="element.active" (change)="changeStatusActive($event, element.idBroadcaster)"></mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> Imagen </th>
                        <td mat-cell *matCellDef="let element">
                            <img style="cursor: pointer;" src="{{serverImages}}{{element.imagePath}}" alt="logotipo" height="50" (click)="openImage(imageModal, element.imagePath)"> </td>
                    </ng-container>

                    <ng-container matColumnDef="update">
                        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" matTooltip="Editar" (click)="openDialogUpdate(element, update)">
                                <mat-icon class="mat-18 material-icons color_blue">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="broadcaster.length === 0 && isLoaded == true" class="alert alert-empty" role="alert">
                    No existen Radiodifusoras!
                </div>

                <mat-paginator *ngIf="broadcaster.length > 0" #paginator [length]="totalLength" [pageIndex]="pageIndex" [pageSize]="limit" [pageSizeOptions]="pageLimit" (page)="changePage($event)">
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- add radiodifusora modal -->
    <ng-template #radio>
        <h1 mat-dialog-title>{{title}}</h1>
        <div mat-dialog-content>

            <div class="container-modal">
                <form [formGroup]="formRadio" class="example-form">
                    <mat-form-field>
                        <input matInput placeholder="Nombre de la Radiodifusora" maxlength="100" formControlName="name" required>
                        <mat-error *ngIf="formRadio.get('name').hasError('required')">
                            El nombre de la Radiodifusora es requerido.
                        </mat-error>
                    </mat-form-field>

                    <br>
                    <div></div>
                    <div class="row" style="padding-top: 10px">
                        <div class="col-6">
                            <span>Agrega un logotipo</span>
                            <div></div>
                            <img class="img-size" src="{{logotipo}}" alt="">
                            <div class="avatar-edit">
                                <input type="file" style="display: none" required accept="image/png,image/jpg,image/jpeg" id="selectFile" (change)="onFileChange()" formControlName="fileSelect" name="selectFile" class="img-upload-btn" />
                                <label class="label-edit" for="selectFile">
                                    <mat-icon class="icon-label">add_photo_alternate</mat-icon>
                                </label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <mat-dialog-actions align="end">
            <button style="margin-right: 5px;" class="btn btn-danger" mat-dialog-close>Cancelar</button>
            <button class="btn btn-success" (click)="addRadiodifusora(formRadio)">Agregar</button>
        </mat-dialog-actions>


    </ng-template>

    <!-- ////add radiodifusora modal -->


    <!-- update radiodifusora modal -->
    <ng-template #update>
        <h1 mat-dialog-title>{{title}}</h1>
        <div mat-dialog-content>

            <div class="container-modal">
                <form [formGroup]="formRadioUpdate" class="example-form">
                    <mat-form-field>
                        <input matInput placeholder="Nombre de la Radiodifusora" maxlength="100" formControlName="nameUpdate" required>
                        <mat-error *ngIf="formRadioUpdate.get('nameUpdate').hasError('required')">
                            El nombre de la radiodifusora es requerido
                        </mat-error>
                    </mat-form-field>
                    <div class="row" style="padding-top: 10px">
                        <div class="col-6">

                            <span>Actualizar el logotipo</span>
                            <div></div>
                            <img class="img-size" src="{{logotipo}}" alt="">
                            <div class="avatar-edit">
                                <input type="file" style="display: none" accept="image/png,image/jpg,image/jpeg" id="fileSelectUpdate" (change)="onFileChangeUpdate()" formControlName="fileSelectUpdate" name="fileSelectUpdate" class="img-upload-btn" />
                                <label class="label-edit" for="fileSelectUpdate">
                                    <mat-icon class="icon-label">add_photo_alternate</mat-icon>
                                </label>
                            </div>


                            <div style="text-align: center">
                                <img style="cursor: pointer;" src="{{serverImages}}{{logotypeModal}}" (click)="openModalImage(imageModal)" alt="logotipo" height="50">
                            </div>
                            <div style="text-align: center">
                                <span>Imagen actual</span>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <br>



        </div>

        <mat-dialog-actions align="end">
            <button style="margin-right: 5px;" class="btn btn-danger" mat-dialog-close>Cancelar</button>
            <button class="btn btn-success" type="submit" (click)="updateRadio(formRadioUpdate)">Actualizar</button>
        </mat-dialog-actions>


    </ng-template>

    <!-- ////update radiodifusora modal -->


    <!-- open image modal -->
    <ng-template #imageModal>
        <h1 mat-dialog-title>Imagen previa</h1>
        <div mat-dialog-content>
            <img src="{{serverImages}}{{logotypeModal}}" alt="logotipo" width="600">

        </div>

        <mat-dialog-actions align="end">
            <button class="btn btn-outline-secondary" mat-dialog-close>Cerrar</button>
        </mat-dialog-actions>


    </ng-template>

</div>

<ng-template #spinner>
    <div class="loading-indicator">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
</ng-template>