
        .timer{
            font-size: 4rem !important;
            font-weight: bold !important;
            color:  white !important;
        }

        agm-map {
            height: 250px;
          }
          
          