$custom-primary: (
  50: #ffffff,
  100: #f9efd3,
  200: #c6bda2,
  300: #f9efd3,
  400: #f9efd3,
  500: #f9efd3,
  600: #f9efd3,
  700: #f9efd3,
  800: #f9efd3,
  900: #f9efd3,
  A100: #f9efd3,
  A200: #f9efd3,
  A400: #f9efd3,
  A700: #f9efd3,      
  contrast: (
    50: #74191c,
    100: #74191c,
    200: #74191c,
    300: #74191c,
    400: #74191c,
    500: #74191c,
    600: #74191c,
    700: #74191c,
    800: #74191c,
    900: #74191c,
    A100: #74191c,
    A200: #74191c,
    A400: #74191c,
    A700: #74191c
  )
);

$custom-accent: (
  50: #ffb05d,
  100: #d1802f,
  200: #9b5300,
  300: #d1802f,
  400: #d1802f,
  500: #d1802f,
  600: #d1802f,
  700: #d1802f,
  800: #d1802f,
  900: #d1802f,
  A100: #d1802f,
  A200: #d1802f,
  A400: #d1802f,
  A700: #d1802f,
  contrast: (
    50: black,
    100: black,
    200: #f9efd3,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: black,
    A200: black,
    A400: black,
    A700: black
  )
);

$custom-warning: (
  50: #d74c42,
  100: #9f131a,
  200: #6a0000,
  300: #9f131a,
  400: #9f131a,
  500: #9f131a,
  600: #9f131a,
  700: #9f131a,
  800: #9f131a,
  900: #9f131a,
  A100: #9f131a,
  A200: #9f131a,
  A400: #9f131a,
  A700: #9f131a,
  contrast: (
    50: black,
    100: #f9efd3,
    200: #f9efd3,
    300: #f9efd3,
    400: #f9efd3,
    500: #f9efd3,
    600: #f9efd3,
    700: #f9efd3,
    800: #f9efd3,
    900: #f9efd3,
    A100: #f9efd3,
    A200: #f9efd3,
    A400: #f9efd3,
    A700: #f9efd3
  )
);