<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100%">
        <mat-card>
            <mat-card-content>
                <mat-card-title>
                    {{titleCommerce}}
                    <button *ngIf="decriptValue() === 'SuperAdmin'" matTooltip="Agregar un comercio" class="button-add" (click)="openDialogAddCommerce(commerce)" mat-raised-button color="accent">
                        <mat-icon class="color_amar">add_box</mat-icon> Agregar
                    </button>
                    <!-- <h1>{{ 'HOME.TITLE' | translate }}</h1> -->
                </mat-card-title>
                <mat-form-field *ngIf="filterData.length > 0">
                    <input matInput id="search" (keyup)="searchCommerces($event.target.value)" placeholder="Buscar...">
                </mat-form-field>
                <table *ngIf="comercios.length > 0" mat-table [dataSource]="comercios">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Comercio </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef> Active </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox id="{{element.id_shop}}" [checked]="element.active" (change)="changeStatusActive($event, element.id_shop)"></mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> Imagen </th>
                        <td mat-cell *matCellDef="let element">
                            <img style="cursor: pointer;" src="{{serverImages}}{{element.logotype}}" alt="logotipo" height="50" (click)="openImage(imageModal, element.logotype)"> </td>
                    </ng-container>

                    <ng-container matColumnDef="update">
                        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" matTooltip="Editar" (click)="openDialogUpdate(element, update)">
                                <mat-icon class="mat-18 material-icons color_blue">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="sucursales">
                        <th mat-header-cell *matHeaderCellDef> Sucursales </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" matTooltip="Ver y agregar sucursales" (click)="goToSucursales(element.id_shop, element.name)">
                                <mat-icon matBadge="{{element.sucursales}}" matBadgeColor="info" class="mat-18 material-icons color_gray">subject</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="categorias">
                        <th mat-header-cell *matHeaderCellDef> Categorías </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" matTooltip="Relacionar categorías al comercio" (click)="openDialogAddRelations(element, category)">
                                <mat-icon class="mat-18 material-icons color_brown">assignment</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="comercios.length === 0 && isLoaded == true" class="alert alert-empty" role="alert">
                    No existen comercios!
                </div>

                <mat-paginator *ngIf="comercios.length > 0" #paginator [length]="totalLength" [pageIndex]="pageIndex" [pageSize]="limit" [pageSizeOptions]="pageLimit" (page)="changePage($event)">
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- add commerce modal -->
    <ng-template #commerce>
        <h1 mat-dialog-title>{{title}}</h1>
        <mat-dialog-content>

            <div class="container-modal">
                <form [formGroup]="formCommerce" class="example-form">
                    <mat-form-field>
                        <input matInput placeholder="Nombre del comercio" maxlength="30" formControlName="name" required>
                        <mat-error *ngIf="formCommerce.get('name').hasError('required')">
                            El nombre del comercio es requerido.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Url del comercio" maxlength="200" formControlName="urlCommerce" required>
                        <mat-error *ngIf="formCommerce.get('urlCommerce').hasError('required')">
                            La url del comercio es requerida.
                        </mat-error>
                    </mat-form-field>

                    <br>
                    <div></div>
                    <div class="row" style="padding-top: 10px">
                        <div class="col-6">
                            <span>Agrega un logotipo</span>
                            <div></div>
                            <img class="img-size" src="{{logotipo}}" alt="">
                            <div class="avatar-edit">
                                <input type="file" style="display: none" required accept="image/png,image/jpg,image/jpeg" id="selectFile" (change)="onFileChange()" formControlName="fileSelect" name="selectFile" class="img-upload-btn" />
                                <label class="label-edit" for="selectFile">
                                    <mat-icon class="icon-label">add_photo_alternate</mat-icon>
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <span>Agrega la marca de agua</span>
                            <div></div>
                            <img class="img-size" src="{{marcaAgua}}" alt="">
                            <div class="avatar-edit">
                                <input type="file" style="display: none" required accept="image/png" id="waterMark" (change)="onFileChangeMark()" formControlName="waterMark" name="waterMark" class="img-upload-btn" />
                                <label class="label-edit" for="waterMark">
                                    <mat-icon class="icon-label">camera_front</mat-icon>
                                </label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button style="margin-right: 5px;" class="btn btn-danger" mat-dialog-close>Cancelar</button>
            <button class="btn btn-success" (click)="addCommerce(formCommerce)">Agregar</button>
        </mat-dialog-actions>


    </ng-template>

    <!-- ////add commerce modal -->

    <!-- update commerce modal -->
    <ng-template #update>
        <h1 mat-dialog-title>{{title}}</h1>
        <mat-dialog-content>

            <div class="container-modal">
                <form [formGroup]="updateFormCommerce" class="example-form">
                    <mat-form-field>
                        <input matInput placeholder="Nombre del comercio" maxlength="30" formControlName="nameUpdate" required>
                        <mat-error *ngIf="updateFormCommerce.get('nameUpdate').hasError('required')">
                            El nombre del comercio es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Url del comercio" maxlength="200" formControlName="urlCommerceUpdate" required>
                        <mat-error *ngIf="updateFormCommerce.get('urlCommerceUpdate').hasError('required')">
                            La url del comercio es requerida.
                        </mat-error>
                    </mat-form-field>
                    <div class="row" style="padding-top: 10px">
                        <div class="col-6">

                            <span>Actualizar el logotipo</span><br>
                            
                            <div style="font-size: 11px;">Las medidas sugeridas son: 296px alto x 330px ancho PNG o JPG.</div>
                            <!-- <img class="img-size" src="{{logotipo}}" alt=""> -->
                            <div class="avatar-edit">
                                <input type="file" style="display: none" accept="image/png,image/jpg,image/jpeg" id="updateFile" (change)="onFileChangeUpdate()" formControlName="updateFile" name="updateFile" class="img-upload-btn" />
                                <label class="label-edit" for="updateFile">
                                    <mat-icon class="icon-label">add_photo_alternate</mat-icon>
                                </label>
                            </div>


                            <div style="text-align: center">
                                <img style="cursor: pointer;" src="{{serverImages}}{{logotypeModal}}" (click)="openModalImage(imageModal)" alt="logotipo" height="50">
                            </div>
                            <div style="text-align: center">
                                <span>Imagen actual</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <span>Actualizar la marca de agua</span>
                            <div style="font-size: 11px;">Las medidas sugeridas son: 296px alto x 330px ancho PNG<br> con fondo transparente.</div>
                            <!-- <img class="img-size" src="{{marcaAgua}}" alt=""> -->
                            <div class="avatar-edit">
                                <input type="file" style="display: none" required accept="image/png" id="waterMarkUpdate" (change)="onFileChangeMarkUpdate()" formControlName="waterMarkUpdate" name="waterMarkUpdate" class="img-upload-btn" />
                                <label class="label-edit" for="waterMarkUpdate">
                                    <mat-icon class="icon-label">camera_front</mat-icon>
                                </label>
                            </div>

                            <div style="text-align: center">
                                <img style="cursor: pointer;" src="{{serverImagesWater}}{{waterMarkModal}}" (click)="openModalImage(waterModal)" alt="watermark" height="50">
                            </div>
                            <div style="text-align: center">
                                <span>Marca de agua actual</span>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <br>



        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button type="button" style="margin-right: 5px;" mat-dialog-close class="btn btn-danger">Cancelar</button>
            <button class="btn btn-success" type="submit" (click)="updateCommerce(updateFormCommerce)">Actualizar</button>
        </mat-dialog-actions>


    </ng-template>

    <!-- ////update commerce modal -->


    <!-- open image modal -->
    <ng-template #imageModal>
        <h1 mat-dialog-title>Imagen previa</h1>
        <mat-dialog-content>
            <img src="{{serverImages}}{{logotypeModal}}" alt="logotipo" width="600">

        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button class="btn btn-outline-secondary" mat-dialog-close>Cerrar</button>
        </mat-dialog-actions>


    </ng-template>

    <!-- ////open image modal -->

    <!-- open water modal -->
    <ng-template #waterModal>
        <h1 mat-dialog-title>Imagen previa</h1>
        <mat-dialog-content>
            <img src="{{serverImagesWater}}{{waterMarkModal}}" alt="logotipo" width="600">

        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button class="btn btn-outline-secondary" mat-dialog-close>Cerrar</button>
        </mat-dialog-actions>


    </ng-template>

    <!-- ////open  water modal -->
</div>

<ng-template #spinner>
    <div class="loading-indicator">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
</ng-template>



<!-- category modal -->
<ng-template #category>
    <h1 mat-dialog-title>Relacionar categorías al comercio: </h1>
    <P style="font-weight: bold; font-family: cursive">{{nameCommerce}}</P>
    <mat-dialog-content>
        <div class="container-modal">
            <div class="row">
                <div class="col-md-6">
                    <label>Categorías: </label>
                    <span style="color: blue"> ({{categories.length}})</span>
                    <div class="listaRelaciones">
                        <div *ngIf="categories.length == 0" class="alert alerts-empty" role="alert">
                            No existen categorias o estan inactivas.
                            <button matTooltip="Agregar categorías" class="button-add" (click)="goToAddCategories()" mat-raised-button color="accent">
                                Agregar
                                <mat-icon class="color_amar">play_arrow</mat-icon>
                            </button>
                            <br>
                        </div>
                        <div class="list-group list-group-flush " *ngFor="let category of categories; let i = index">
                            <span class="list-group-item list-group-item-action">
                                <i> {{category.name }}
                                    <span class="go" (click)="addDataRelations(category)">
                                        <mat-icon class="mat-18 material-icons color_green">arrow_forward_ios</mat-icon>
                                    </span>
                            </i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Categorías del comercio: </label>
                    <span style="color: blue"> ({{relations.length}})</span>
                    <div class="listaRelaciones">

                        <div class="list-group list-group-flush " *ngFor="let s of relations; let i = index">
                            <span class="list-group-item list-group-item-action">
                                <i> {{s.nameCategory }}
                                    <span class="close" (click)="removeDataRelations(i)">&times;</span>
                            </i>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <br>
        </div>


    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button type="button" style="margin-right: 5px;" mat-dialog-close class="btn btn-danger">Cancelar</button>
        <button class="btn btn-success" type="submit" (click)="saveRelations()">Actualizar</button>
    </mat-dialog-actions>


</ng-template>

<!-- ////category modal -->