.img-size{
  width: 95%;
  height: 200px;
}
.container-modal {
    display: flex;
    flex-direction: column;
  }
  
  .container-modal > * {
    width: 100%;
  }
.avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;    
  }

  .label-edit{
      display: inline-block;
          width: 34px;
          height: 34px;
          margin-bottom: 0;
          border-radius: 100%;
          background: #f9efd3;
          border: 1px solid transparent;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
          cursor: pointer;
          font-weight: normal;
          transition: all .2s ease-in-out;
  }

  .label-edit:hover{
      background: #e6f83f;
      border-color: #d6d6d6;
  }

  .icon-label{
      position: absolute;
      top: 5px;
      left: 0;
      right: 0;
      text-align: center;
      margin: auto;
  }